{% load static %}
<html>
    <style>
        body {
            background-image: url("{% static 'bg7.png' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
<head>
        <title>BREATHEASY</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
        .nav-link{
                color:white !important ;
                margin-right: 5px; 
        }

        .nav-link:hover{
                color:white !important ;
                font-weight: bold;
                background-color: black; 
                border-radius: 10px;
        }

        .navbar-brand:hover{
                color:#E6A9EC  !important ; 
        }


</style>


</head>
<body>
   

                <nav class="navbar navbar-expand-sm" style="background-color : transparent">
                    <a class="navbar-brand text-white pl-5 font-weight-bold">BREATHEASY</a>
            <ul class="navbar-nav">
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}" style="margin-left:150px"><i class="fa fa-home mr-1"></i>Home</a>
                    </li>
            
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}"><i class="fa fa-user-plus mr-1"></i>Login</a>
                    </li> 
            
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'track_aqi' %}"><i class="fa fa-user-plus mr-1"></i>Track AQI</a>
                    </li> 
                    
            </ul>
            
            </nav>
                      
<div class="container mt-4">
    <div class="row mt-4">
            <h3 class="text-white">What is an AQI?</h3>
            <p style="color:rgb(0, 0, 0); font-size: 18px">The AQI is an index for reporting daily air quality. It tells you how clean or polluted your air is, and what
                associated health effects might be a concern for you. The AQI focuses on health effects you may experience
                within a few hours or days after breathing polluted air. EPA calculates the AQI for five major air pollutants
                regulated by the Clean Air Act: ground-level ozone, particle pollution (also known as particulate matter), carbon
                monoxide, sulfur dioxide, and nitrogen dioxide. For each of these pollutants, EPA has established national air
                quality standards to protect public health .Ground-level ozone and airborne particles are the two pollutants that
                pose the greatest threat to human health in this country.
                How Does the AQI Work?
                Think of the AQI as a yardstick that runs from 0 to 500. The higher the AQI value, the greater the level of air
                pollution and the greater the health concern. For example, an AQI value of 50 represents good air quality with
                little potential to affect public health, while an AQI value over 300 represents hazardous air quality.
                An AQI value of 100 generally corresponds to the national air quality standard for the pollutant, which is the
                level EPA has set to protect public health. AQI values below 100 are generally thought of as satisfactory. When
                AQI values are above 100, air quality is considered to be unhealthy-at first for certain sensitive groups of
                people, then for everyone as AQI values get higher.</p>
        </div>

        
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: 300%; margin-left: 55px; color: white;">AQI CHART</p>
                <img src="{% static '3.png' %}" style="width: 100%; max-width: 400px; height: auto; margin-top: 5%;">
                <div class="content" >
                    <p, style="margin-top: 5px;color: white;">The purpose of the AQI is to help you understand what local air quality means to your health. To make it easier
                        to understand, the AQI is divided into six categories.</p>
                </div>
            </div>
        
            <div class="col-md-6">
                <p style="font-size: 300%;margin-left: 10px ;color:white;">Health Problems</p>
                <img src="{% static '2.png' %}" style="width: 100%; max-width: 400px; height: auto; margin-top: 5%;">
                <div class="content">
                    <p, style="margin-top: 5px; color: white;">Poor quality and polluted air can have adverse negative effects on our health and can affect a range of lifestyle aspects</p>
                </div>
            </div>
        </div>
            
                            </div>
                    </div>
            </div>
         </body>
            </html>