{% load static %}

{% block body %}

{% include 'navigation.html' %}


<style>
    body {
        background-image: url("{% static 'bg7.png' %}");
        background-size: cover;
        background-position: center;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 75vh;
    }
    .form-control {
        width: 80%;
        margin-bottom: 10px;
    }
    .btn {
        width: 15%;
        margin-bottom: 2%;
        background-color: transparent;
    }
</style>

<script>
    function checkpass() {
        if (document.signup.pwd.value != document.signup.cpwd.value) {
            alert('Password and Confirm Password field does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>

<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" required>
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Contact</label>
            <input type="text" class="form-control" name="Contact" placeholder="Enter Contact Number" required>
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" name="Email" placeholder="Enter Email Address" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="Enter Password" required>
        </div>
        <div class="form-group col-md-6">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="cpwd"  placeholder="Enter Confirm Password" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Gender</label>
            <div style="border: 1px solid lightgrey; padding: 6px; border-radius: 6px">
            <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
            <label class="custom-control-label" for="customRadioInline1">Male</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
            </div>
            
            
        </div>
        <div class="form-group col-md-6">
            <label>Image</label>
            <input type="file" class="form-control" name="Image" required>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary my-1" style="width: 20%; margin-right: 10;">
</form>

{% if error == "no" %}
<script>
    alert("SignUp Successful");
    window.location = ('{% url "signin" %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again...");
</script>
{% endif %}
{% endblock %}
