{% load static %}

{% block body %}

{% include 'navigation.html' %}

<style>
    body {
        background-image: url("{% static 'bg7.png' %}");
        background-size: cover;
        background-position: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }
    .form-control {
        width: 110%;
        margin-bottom: 10px;
    }
    .btn {
        width: 15%;
        margin-bottom: 2%;
        background-color: transparent;
    }
</style>

<form class="container col-md-10 margin-left-1" method="post" action="{% url 'signin' %}">
    {% csrf_token %}
    <div class="form-group" style="margin-right: 2%;">
        <label for="uname"><b>Email ID</b></label>
        <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter Email ID">
    </div>

    <div class="form-group" style="margin-right: 2%;">
        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'signup' %}" class="btn btn-primary color:white">CREATE AN ACCOUNT</a>
</form>

{% if error == "no" %}
<script>
    alert("Login Successful");
    window.location = ('{% url "user_home" %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid Login Credentials. Please try again...");
</script>
{% endif %}
{% endblock %}
